<app-header (menuClick)="toggleMenu()" (userConfigClick)="toggleUserConfig()"></app-header>

@if (showMenu) {
    <app-menu-modal
    [showAdminArea]="isAdmin"
    (closeModal)="toggleMenu()"
    (loansClick)="onLoansClick()"
    (adminAreaClick)="onAdminClick()">
    </app-menu-modal>
}

@if (showUserConfig) {
    <app-user-modal
    (yourInfosClick)="onYourInfosClick()"
    (logoutClick)="onLogoutClick()"
    (closeModal)="toggleUserConfig()">
    </app-user-modal>
}

<main class="main">
    <router-outlet></router-outlet>
</main>