
<div class="layout-container">
  @if (showMenu) {
    <app-menu-modal
    [showAdminArea]="isAdmin"
    (closeModal)="toggleMenu()"
    (loansClick)="onLoansClick()"
    (adminAreaClick)="onAdminClick()">
    </app-menu-modal>
  }
  @if (showUserConfig) {
      <app-user-modal
      (yourInfosClick)="onYourInfosClick()"
      (logoutClick)="onLogoutClick()"
      (closeModal)="toggleUserConfig()">
      </app-user-modal>
  }
  <app-header (menuClick)="toggleMenu()" (userConfigClick)="toggleUserConfig()"></app-header>
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
  <app-notification></app-notification>
</div>