@use 'variables' as v;

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  gap: v.$spacing-base-unit;
}

.main {
  flex: 1;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
}