$background-color: #03060F;

:host {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: $background-color;
    display: flex;
    max-width: 360px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.form {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-self: stretch;
    display: flex;        
    gap: 16px;
}