<div class="patrimony-display-container">
    <div class="top-text">
        <p class="patrimony-name">{{ patrimonyName }}</p>
        <p class="category-name">{{ categoryName }}</p>
    </div>

    <div class="item-list">
        @for (item of items; track item.id) {
            <app-item-display
                [mainText]="item.nomePatrimonio"
                [secondaryText]="item.condicaoProduto | conditionDisplay"
                [status]="getItemStatus(item)"
                [availableItems]="patrimonyControlType === 'ESTOQUE' ? item.quantidade : null"
                [isSelectable]="getItemStatus(item) === 'available'"
                [isSelected]="isSelected(item)"
                (click)="!isSelected(item) && (getItemStatus(item) === 'available') && itemSelected.emit(item)">
            </app-item-display>
        }
    </div>
</div>