@if (isConfirmationOpen && selectedRole) {
  <app-confirmation-message
    titleText="Deleção de Cargo"
    [messageText]="`Tem certeza que deseja apagar o cargo ${selectedRole.nome}?`"
    (confirm)="confirmDeletion()"
    (cancel)="cancelDeletion()"
  ></app-confirmation-message>
}

@if (isEditModalOpen && selectedRole) {
  <app-edit-role-modal
    [role]="selectedRole"
    (roleUpdated)="handleRoleUpdated()"
    (close)="onCloseEditModal()">
  </app-edit-role-modal>
}

<div class="section create-role">
  <h2>Criar Cargo</h2>
  <form [formGroup]="roleForm" (ngSubmit)="createRole()">
    <app-input
      formControlName="nome"
      label="Nome"
      [backgroundColor]="'#1C1F27'"
    ></app-input>
    <div class="permissions-grid">
      @for (group of permissionGroups; track group.name) {
        <div class="permission-group">
          <h3 class="group-title">{{ group.name }}</h3>
          <div class="group-items">
            @for (permission of group.permissions; track permission) {
              <label class="custom-checkbox-label">
                <input 
                  type="checkbox"
                  [value]="permission"
                  [checked]="isPermissionSelected(permission)"
                  (change)="onPermissionChange(permission, $event)"
                />
                <span class="custom-checkbox"></span>
                {{ permission | titlecase | replaceUnderscore }}
              </label>
            }
          </div>
        </div>
      }
    </div>
    <app-button
      text="Criar"
      type="submit"
      [disabled]="roleForm.invalid"
    ></app-button>
  </form>
</div>

<div class="section existing-roles">
  <h2>Cargos Existentes</h2>
  <div class="list-container">
    @if (isLoading) {
      <p class="info-text">Carregando cargos...</p>
    } @else {
      @for (role of roles; track role.id) {
        <app-role-card
          [role]="role"
          (edit)="handleEditRequest(role)"
          (delete)="handleDeleteRequest(role)">
        </app-role-card>
      } @empty {
        <p class="info-text">Nenhum cargo cadastrado.</p>
      }
    }
  </div>
</div>