<div class="homepage-container">
  <app-search-input (search)="onSearch($event)"></app-search-input>

  @if (viewState$ | async; as state) {
    <div class="request-section">
      <h2 class="request-title">Sua solicitação</h2>
        @if (state.requestItems.length === 0) {
          <p class="request-subtitle">Sua solicitação ainda está vazia...</p>
        } @else {
          <div class="request-items-list">
            @for (reqItem of state.requestItems; track reqItem.item.id) {
              <div class="request-item-row">
                <app-item-display
                  [mainText]="reqItem.item.nomePatrimonio"
                  [secondaryText]="reqItem.item.condicaoProduto"
                  [showDeleteButton]="true"
                  (delete)="removeItemFromRequest(reqItem.item)">
                </app-item-display>
                
                @if (reqItem.tipoControle === 'ESTOQUE') {
                  <app-input
                    class="quantity-input"
                    type="number"
                    backgroundColor="#1C1F27"
                    [label]="'Qtd.'"
                    [(ngModel)]="reqItem.quantity"
                    (ngModelChange)="onQuantityChange(reqItem.item, reqItem.quantity)"
                    [max]="reqItem.item.quantidade"
                    [min]="1">
                  </app-input>
                }
              </div>
            }
          </div>
          <app-button
            text="Confirmar"
            (onClick)="confirmRequest()">
          </app-button>
        }
    </div>

    <div class="available-items-section">
      <h2 class="available-items-title">Itens disponíveis</h2>
        @for (patrimony of state.patrimonies; track patrimony.id) {
          <app-patrimony-display
            [patrimonyName]="patrimony.nome"
            [categoryName]="patrimony.nomeCategoria"
            [items]="patrimony.itensPatrimonio"
            [selectedItems]="state.selectedItems"
            (itemSelected)="selectItem($event, patrimony)">
          </app-patrimony-display>
        } @empty {
          <p class="request-subtitle">Nenhum item disponível no momento.</p>
        }
    </div>

  } @else {
    <p class="request-subtitle">Carregando dados da página...</p>
  }
</div>