<div class="modal-overlay" (click)="onClose()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <h2>Editar Categoria</h2>
        <form [formGroup]="editForm" (ngSubmit)="onSave()">
        <app-input
            formControlName="nome"
            label="Nome"
            [backgroundColor]="'#1C1F27'"
        ></app-input>

        <app-select-input
            formControlName="idCategoriaMae"
            label="Categoria Mãe"
            [options]="categoryOptions"
            [backgroundColor]="'#1C1F27'"
            [isClearable]="true"
        ></app-select-input>

        <app-button
            text="Salvar"
            type="submit"
            [disabled]="editForm.invalid"
        ></app-button>
        </form>
    </div>
</div>