$color-accent: #01B0F1;
$color-border-default: #898989;
$color-border-hover: #ffffff;
$color-text-input: #ffffff;
$color-text-placeholder: #ffffff;

$font-size-input: 16px;
$font-size-label: 10px;
$font-weight-normal: 400;
$font-weight-bold: 700;

$border-radius: 12px;
$transition-speed: 0.2s;
$input-height-default: 56px;
$input-padding-vertical: 16px;
$input-padding-horizontal: 16px;
$label-y-offset: 22px;


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

.input {
  position: relative;
  font-family: 'Inter';
  font-size: $font-size-input;
  font-weight: $font-weight-normal;
}

.input .input-element {
  box-sizing: border-box; 
  width: 100%;
  height: 56px;

  padding: $input-padding-horizontal $input-padding-vertical;
  border: 2px solid $color-border-default;
  border-radius: $border-radius;
  background-color: transparent;
  color: $color-text-input;

  &::placeholder {
    color: $color-text-placeholder;
  }
}

.input .input-element:hover {
  border-color: $color-border-hover;
  transition: all .15s ease-out;
}

.input .input-element:focus,
.input .input-element:not(:placeholder-shown) {
  outline: none;
  border-color: $color-accent;
  font-family: 'Inter';
  font-size: $font-size-input;
  font-weight: $font-weight-normal;
  color: $color-text-input;
}

.input .input-element:focus + .label,
.input .input-element:not(:placeholder-shown) + .label {
  top: -5px;
  left: 8px;
  font-size: $font-size-label;
  font-weight: $font-weight-bold;
  color: $color-accent;
}

.input .label {
  position: absolute;
  left: 16px;
  top: 22px;
  padding: 0 4px;
  font-size: 14px;
  line-height: 1;
  color: $color-text-input;
  transition: all .15s ease-out;
  cursor: text;
}

:host(.textarea-host) .input-element {
  height: auto;
  min-width: 128px;
  resize: vertical;
  font-family: 'Inter';
  font-size: $font-size-input;
  font-weight: $font-weight-normal;
  color: $color-text-input;
}