<div class="input">
    @if (type === 'textarea') {
        <textarea
            [id]="id"
            class="input-element"
            [value]="value"
            [disabled]="isDisabled"
            placeholder=" "
            (input)="onValueChange($event)"
            rows="4"
        ></textarea>
    } @else {
        <input 
            [id]="id"
            class="input-element" 
            [type]="type" 
            [value]="value" 
            [disabled]="isDisabled"
            placeholder=" "
            (input)="onValueChange($event)" 
        />
    }
    <label class="label" [for]="id" [ngStyle] = "{'background-color': backgroundColor}"> {{label}} </label>
</div>
