@use 'variables' as v;

$font-size-label: 10px;
$transition-speed: 0.2s;
$label-y-offset: 20px;
$color-error: #EF233C;

.input {
  position: relative;
  font-family: v.$font-family-base;
  font-size: v.$font-size-base;
  font-weight: v.$font-weight-normal;
}

.input-element {
  font-family: v.$font-family-base;
  font-size: v.$font-size-base;
  font-weight: v.$font-weight-normal;
}

.input .input-element {
  box-sizing: border-box;
  width: 100%;
  height: v.$input-height-default;

  padding: v.$spacing-base-unit;
  border: 2px solid v.$color-border-default;
  border-radius: v.$border-radius-default;
  background-color: transparent;
  color: v.$color-text-light;

  &::placeholder {
    color: v.$color-text-light;
  }
}

.input .input-element:hover {
  border-color: v.$color-border-hover;
  transition: all $transition-speed ease-out;
}

.input .input-element:focus,
.input .input-element:not(:placeholder-shown) {
  outline: none;
  border-color: v.$color-primary;
  color: v.$color-text-light;
}

.input .input-element:focus + .label,
.input .input-element:not(:placeholder-shown) + .label {
  top: -5px;
  left: 8px;
  font-size: $font-size-label;
  font-weight: v.$font-weight-bold;
  color: v.$color-primary;
}

.input .label {
  position: absolute;
  left: v.$spacing-base-unit;
  top: $label-y-offset;
  padding: 0 4px;
  font-size: v.$font-size-base;
  line-height: 1;
  color: v.$color-text-light;
  transition: all $transition-speed ease-out;
  cursor: text;
}

:host(.textarea-host) .input-element {
  height: auto;
  min-width: 128px;
  resize: vertical;
}

:host(.has-error) {
  .input-element {
    border-color: $color-error;
  }

  .input .input-element:focus,
  .input .input-element:not(:placeholder-shown) {
    border-color: $color-error;
  }

  .input-element:focus + .label,
  .input-element:not(:placeholder-shown) + .label {
    color: $color-error;
  }
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}