@use 'variables' as v;

$primary-color: #01B0F1;
$text-color: mix(#FFF, $primary-color, 64%);

:host {
  color: v.$color-text-light;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  width: 100%;
}

.create-patrimony-section {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: stretch;
  align-self: stretch;
  gap: v.$spacing-base-unit;

  border-radius: v.$border-radius-default;
  background: #1C1F27;

  h2 {
      font-family: v.$font-family-secondary;
      font-size: 24px;
      font-weight: v.$font-weight-bold;
      
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: stretch;

      margin: 0;
  }
}

.patrimony-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.radio-group {
	display: flex;
  flex-direction: row;
  gap: 16px;

  font-family: v.$font-family-base;
	font-weight: 500;
	position: relative;
	overflow: hidden;
	margin-bottom: 0.375em;

  input {
		position: absolute;
		left: -9999px;
		&:checked + span {
			background-color: mix(#000, $primary-color, 84%);
			&:before {
				box-shadow: inset 0 0 0 0.4375em $primary-color;
			}
		}
	}
	span {
		display: flex;
		align-items: center;
		padding: 0.375em 0.75em 0.375em 0.375em;
		border-radius: 99em;
		transition: 0.25s ease;
    color: $text-color;
		&:hover {
			background-color: mix(#000, $primary-color, 84%);
		}
		&:before {
			display: flex;
			flex-shrink: 0;
			content: "";
			background-color: #fff;
			width: 1.5em;
			height: 1.5em;
			border-radius: 50%;
			margin-right: 0.375em;
			transition: 0.25s ease;
			box-shadow: inset 0 0 0 0.125em $primary-color;
		}
	}
}

.registered-patrimony-section {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: stretch;
  align-self: stretch;
  gap: v.$spacing-base-unit;

  border-radius: v.$border-radius-default;
  background: #1C1F27;

  h2 {
    font-family: v.$font-family-secondary;
    font-size: 24px;
    font-weight: v.$font-weight-bold;
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    text-align: center;

    margin: 0;
  }
}

.patrimony-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  gap: 16px;
}

.subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;

  font-family: v.$font-family-base;
  font-size: 12px;
  font-weight: v.$font-weight-normal;
  color: v.$color-border-default;
  margin: 0;
  }