<div class="modal-overlay" (click)="onClose()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <h2>Editar Cargo</h2>
        <form [formGroup]="editForm" (ngSubmit)="onSave()">
            <app-input
                formControlName="nome"
                label="Nome"
                [backgroundColor]="'#1C1F27'"
            ></app-input>

            <div class="permissions-grid">
              @for (group of permissionGroups; track group.name) {
                <div class="permission-group">
                  <h3 class="group-title">{{ group.name }}</h3>
                  <div class="group-items">
                    @for (permission of group.permissions; track permission) {
                      <label class="custom-checkbox-label">
                        <input 
                          type="checkbox"
                          [value]="permission"
                          [checked]="isPermissionSelected(permission)"
                          (change)="onPermissionChange(permission, $event)"
                        />
                        <span class="custom-checkbox"></span>
                        {{ permission | titlecase | replaceUnderscore }}
                      </label>
                    }
                  </div>
                </div>
              } @empty {
                <p class="request-subtitle">Nenhum grupo de permissões para exibir.</p>
              }
            </div>

            <app-button
                text="Salvar"
                type="submit"
                [disabled]="editForm.invalid"
            ></app-button>
        </form>
    </div>
</div>