@use 'variables' as v;

$card-background-color: #35383F;

:host {
  display: block;
  width: 100%;
}

.category-card {
  display: flex;
  padding: 12px 18px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 12px;
  border-radius: v.$border-radius-default;
  background: $card-background-color;
  color: v.$color-text-light;
}

.category-details {
  display: flex;
  flex-direction: column;
  gap: 8px;

  h3 {
    font-family: v.$font-family-base;
    font-size: v.$font-size-base;
    font-weight: v.$font-weight-bold;
    margin: 0;
  }
  p {
    font-family: v.$font-family-base;
    font-size: v.$font-size-small;
    font-weight: v.$font-weight-light;
    margin: 0;
  }
}

.category-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.action-button {
  width: 48px;
  height: 48px;
  border-radius: v.$border-radius-default;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  
  &.edit-button {
    background-color: #017BA9;
    &:hover { background-color: #005879; }
  }

  &.delete-button {
    background-color: #4F5157;
    &:hover { background-color: #3e4044; }
  }
}