@use 'variables' as v;

$color-error: #EF233C;
$font-size-title: 24px;

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: v.$color-background-dark;
}

.signup-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: v.$layout-max-width-form;
  padding: 20px;
}

.title {
  font-family: v.$font-family-secondary;
  font-size: $font-size-title;
  font-weight: v.$font-weight-bold;
  color: v.$color-text-light;
  margin-bottom: v.$spacing-base-unit;
  text-align: center;
  text-shadow: 0 1px 16px #506BD5;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: v.$spacing-base-unit;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.error-message {
  margin: 0;
  margin-left: 8px;
  color: $color-error;
  font-family: v.$font-family-base;
  font-size: 12px;
}

.login-link {
  margin-top: v.$spacing-base-unit;
  a {
    font-family: v.$font-family-base;
    font-size: v.$font-size-small;
    color: v.$color-text-light;
    text-decoration-line: underline;

    strong {
      color: v.$color-primary;
      font-weight: v.$font-weight-bold;
    }
  }
}