@use 'variables' as v;

$color-modal-bg: #1C1F27;
$color-overlay: rgba(0, 0, 0, 0.7);

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $color-overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: v.$font-family-base;
}

.modal-content {
  background-color: $color-modal-bg;
  border-radius: v.$border-radius-default;
  padding: 22px;
  width: 100%;
  max-width: 346px;
  color: v.$color-text-light;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 16px;
}

.section-title {
  font-size: v.$font-size-base;
  font-weight: v.$font-weight-bold;
  margin: 0;
}

.section-text, .section-items, .section-dates {
  display: flex;
  flex-direction: column;   
  align-items: stretch;
  align-self: stretch;
  gap: 4px;
  margin: 0;

  p {
    font-weight: v.$font-weight-normal;
    margin: 0;
  }
}

.items-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  gap: 8px;
}