<div class="user-loans-container">
  <div class="loans-request-section">
    <h1 class="page-title">Suas solicitações</h1>

      @if (isConfirmMessageOpen) {
          <app-confirmation-message
          titleText="Deleção de solicitação"
          messageText="Tem certeza que deseja apagar esta solicitação?"
          (confirm)="confirmDeletion()"
          (cancel)="cancelDeletion()">
          </app-confirmation-message>
      }

    @if (loans$ | async; as loanPage) {
      @if (loanPage.content.length === 0) {
        <p class="no-requests-text">Você ainda não tem solicitações...</p>
      } @else {
        <div class="loan-requests-list">
          @for (request of loanPage.content; track request.id) {
              @if (request.situacao === 'EM_ESPERA') {
                  <app-loan-display
                  [loanRequest]="request"
                  [showDeleteButton]="true"
                  (delete)="deleteRequest(request)">
                  </app-loan-display>
              } @else {
                  <app-loan-display
                  [loanRequest]="request">
                  </app-loan-display>
              }
          }
        </div>
        <app-pagination
          [currentPage]="loanPage.page.number"
          [totalPages]="loanPage.page.totalPages"
          (pageChange)="onPageChange($event)">
        </app-pagination>
      }
    } @else {
      <p class="loading-text">Carregando solicitações...</p>
    }
  </div>
</div>